// 預載動畫
body {
  overflow-y: scroll;
}

.preload-container {
  width: 100vw;
  height: 100vh;
  background-color: #eaf7fc;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  animation: l1 1s linear infinite alternate;
}
.loader:before {
  content: "Loading...";
}
@keyframes l1 {
  to {
    opacity: 0;
  }
}
