<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>餐廳</title>
  </head>

  <body>
    <div class="preload-container"></div>

    <header><%= require('../ejs/header.ejs')() %></header>

    <div class="top-video"></div>

    <div class="introduce-content">
      <div class="introduce-box">
        <div class="txt-box wow animate__animated animate__rotateInDownLeft" data-wow-delay="0.5s">
          <h3>前菜 輕食</h3>
          <p>在悠閒的早晨 用美食展開全新的一天<br />味覺的冒險即將開始</p>
          <a href="./menu.html" class="but-link-1"
            >VIEW MORE
            <i class="fa-solid fa-chevron-right icon-right"></i>
          </a>
        </div>

        <div class="img-box"></div>

        <div class="img-box-carousel">
          <div class="carousel-box"></div>
        </div>
      </div>
      <div class="introduce-box">
        <div class="txt-box wow animate__animated animate__rotateInDownLeft" data-wow-delay="0.5s">
          <h3>主菜 商業午餐</h3>
          <p>濃郁的醬香搭配主廚精心烹調的烤肉<br />您還在等甚麼呢? 趕快來與我們一同享受美味</p>
          <a href="./menu.html" class="but-link-1">VIEW MORE<i class="fa-solid fa-chevron-right icon-right"></i></a>
        </div>

        <div class="img-box"></div>

        <div class="img-box-carousel">
          <div class="carousel-box"></div>
        </div>
      </div>
    </div>

    <div class="product-content">
      <ul id="card_content"></ul>
    </div>

    <div class="feedback-content">
      <div class="feedback-list"></div>
    </div>

    <div class="store-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2235.0540049028787!2d120.44606088936165!3d23.461889163051993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1szh-TW!2stw"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>

      <address class="index-address">
        <div class="a-row">
          <p class="data-name">ACCESS</p>
        </div>
        <div class="a-row">
          <p class="item">地址</p>
          <p class="data">嘉義市南山路20巷50號</p>
        </div>
        <div class="a-row">
          <p class="item">營業時間</p>
          <p class="data">平日:07:00-22:00<br />六日:06:00-23:00</p>
        </div>
        <div class="a-row">
          <p class="item">公休日</p>
          <p class="data">每周一</p>
        </div>
        <div class="a-row">
          <p class="item">電話</p>
          <p class="data">0999999999</p>
        </div>
      </address>
    </div>

    <div class="l-accordion">
      <h3>常見問題</h3>
      <ul>
        <li class="item">
          <div class="question">
            <h4>1.如何訂餐？</h4>
            <i class="fa-solid fa-angle-up"></i>
          </div>
          <p class="answer">
            1.您可以在點餐介面選擇餐點及數量。<br />
            2.確認或修改訂單詳情。<br />
            3.選擇時段。<br />
            4.訂單成立。<br />
          </p>
        </li>

        <li class="item">
          <div class="question">
            <h4>2.訂餐後如何取消？</h4>
            <i class="fa-solid fa-angle-up"></i>
          </div>
          <p class="answer">
            1.請電話聯絡定餐門市。<br />
            2.若已開始製作餐點將無法取消。<br />
            3.訂單於指定時間前20分鐘內將無法取消，亦不接受退款更換餐點。
          </p>
        </li>

        <li class="item">
          <div class="question">
            <h4>3.需要登入嗎?</h4>
            <i class="fa-solid fa-angle-up"></i>
          </div>
          <p class="answer">1.您需要登入才能使用線上點餐服務。 2.如沒有帳號可使用手機註冊或使用其他方式登入。</p>
        </li>

        <li class="item">
          <div class="question">
            <h4>4.不登入能點餐嗎?</h4>
            <i class="fa-solid fa-angle-up"></i>
          </div>
          <p class="answer">1.若不登入，無法使用訂單服務，請向您訂餐的門市電話聯絡。</p>
        </li>
      </ul>
    </div>

    <footer><%= require('../ejs/footer.ejs')() %></footer>
  </body>
  <script type="module" src="index.js"></script>
</html>
