@use "@/scss/base/rwd_mixin";

.top-video {
  margin: 80px auto 60px auto;
}

// 菜單介紹 背景塊
.introduce-box:nth-child(1) {
  background: linear-gradient(160deg, transparent 0%, transparent 45%, #f7f3ee 45%, #f7f3ee 100%);
}

.introduce-box:nth-child(2) {
  background: linear-gradient(200deg, transparent 0%, transparent 45%, #f7f3ee 45%, #f7f3ee 100%);
}

.introduce-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.introduce-box {
  padding: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 60px auto;

  .txt-box {
    width: 40%;
    padding: 0px 60px;
    text-align: center;
    font-size: 24px;
    line-height: 36px;

    h3 {
      font-size: 36px;
      margin-bottom: 40px;
    }
  }
}

@include rwd_mixin.rwd_992_below {
  .introduce-box {
    margin: 10px auto;

    .txt-box {
      height: 50%;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 40px 60px;

      h3,
      p,
      a {
        width: 50%;
      }

      h3 {
        display: block;
        height: 35%;
        margin-bottom: 0px;
      }

      p {
        height: 65%;
      }

      a {
        margin-left: 30px;
        margin: auto 20px;
      }
    }
  }
}

@include rwd_mixin.rwd_768_below {
  .introduce-box {
    width: 100%;
    margin: 10px 0;

    .txt-box {
      height: auto;

      h3,
      p,
      a {
        width: 100%;
        height: auto;
      }
    }
  }
}

@include rwd_mixin.rwd_576_below {
  .introduce-box {
    .txt-box {
      padding: 40px 0;

      p {
        font-size: 20px;
      }

      a {
        margin: 0;
      }
    }
  }
}

// 地址
.store-map {
  // background-image: url("../img/background-wall-1.gif");
  background-repeat: repeat;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.index-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
  width: 30%;

  .a-row {
    display: flex;
    padding: 20px 0;
    border-top: 1px solid rgb(255, 205, 41);
    font-size: 20px;
    align-items: center;

    &:nth-child(5) {
      border-bottom: 1px solid rgb(255, 205, 41);
    }

    .data-name {
      text-align: center;
      width: 100%;
      font-size: 24px;
    }

    .item {
      width: 25%;
    }

    .data {
      width: 60%;
    }
  }
}

@include rwd_mixin.rwd_992_below {
  .index-address {
    width: 70%;
    margin: auto;
  }
}

@include rwd_mixin.rwd_576_below {
  .index-address {
    width: 95%;

    .a-row {
      .item {
        width: 40%;
      }
    }
  }
}
