@use "@/scss/base/rwd_mixin";
@use "@/scss/base/mixins_utilities";

.serve-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px auto 80px auto;
}

.serve-container {
  h2 {
    width: 100%;

    font-size: 40px;
    padding: 16px 0;
    text-align: center;
    background-color: #f7f3ee;
    color: #bc9d51;
  }
}

.serve-container {
  .item {
    width: 20%;
    height: 200px;
    position: relative;
    margin: 16px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      opacity: 0.8;
    }
  }
}

@include rwd_mixin.rwd_768_below {
  .serve-container {
    .item {
      width: 40%;
    }
  }
}
@include rwd_mixin.rwd_500_below {
  .serve-container {
    .item {
      width: 80%;
    }
  }
}
.serve-container {
  .text-box {
    width: 100%;
    height: 100%;
    background-color: #0000003d;
    @include mixins_utilities.position-center;
  }
  span {
    font-size: 40px;
    font-weight: 500;
    color: #bc9d51;
    @include mixins_utilities.position-center;
    transition: 0.5s ease;
  }
}
.serve-container .item:hover {
  .text-box {
    background-color: #00000084;
  }
  span {
    top: 20%;
    left: 20%;
  }
}
