<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>餐廳</title>
  </head>

  <body class="page-cart">
    <header><%= require('../ejs/header.ejs')() %></header>

    <div class="main">
      <div class="cart-container">
        <div class="table-title">購物車內容</div>
        <table>
          <thead>
            <tr>
              <th>商品圖片</th>
              <th>商品名稱</th>
              <th>單價</th>
              <th>數量</th>
              <th>小計</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr class="empty-cart">
              <td colspan="6">
                <div class="skeleton-screen">
                  <div class="skeleton-loader"></div>
                  <p>資料載入中</p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="total_amount-box">
          <span>訂單合計：</span>
          <span class="amount">0元</span>
          <button class="order-btn">生成訂單</button>
        </div>
      </div>
    </div>

    <footer><%= require('../ejs/footer.ejs')() %></footer>
  </body>
</html>
