@include rwd_768_below {
  .page-cart .main {
    margin-top: 0;
  }
}

.cart-container {
  width: 100%;
  padding-top: 24px;
  min-height: calc(100vh - 280px);
  overflow-x: auto;
}

.cart-container table {
  img {
    width: 100px;
    height: 100px;
  }
  .name {
    width: 40%;
  }
  .subtotal {
    color: #fe0000;
  }
}

@include rwd_768_below {
  .cart-container table {
    .name {
      width: auto;
    }
  }

  .cart-container {
    table,
    thead,
    tbody,
    tr,
    th,
    td {
      display: block;
    }
    thead {
      display: none;
    }
    tr {
      margin-bottom: 10px;
      border: 1px solid #ccc;
    }

    td {
      display: flex;
      justify-content: space-between !important;
      padding: 10px;
      height: 100%;
      &::before {
        content: attr(data-label);
        font-weight: bold;
        color: #333;
      }
    }
  }

  .total_amount-box {
    padding: 10px;
  }
}

.cart-container table .order {
  height: 100%;
  border-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  .m-quantity-selector-box {
    display: flex;

    border: 1px solid #dee2e6;
    height: 36px;
    .reduce-btn,
    .plus-btn,
    .quantity-box {
      border-radius: 0px;
      margin: 0px;
      border: 0px;
      text-align: center;
    }
  }
}

.cart-container table .delete {
  display: flex;
  justify-content: center;
  border: 0px;

  .delete-btn {
    display: flex;
    color: rgba(0, 18, 46, 0.7019607843);
    flex-direction: column;
    font-size: 12px;
    i {
      font-size: 24px;
      margin-bottom: 4px;
    }
  }
}

.total_amount-box {
  display: flex;
  width: 100%;
  justify-content: end;
  margin: 60px 0;
  font-size: 24px;
  align-items: center;
}

.order-btn,
.go-menu {
  font-size: 24px;
  padding: 8px;
  border-radius: 5px;
  background-color: rgb(255, 217, 169);
  display: block;
  margin-left: 20px;
}
.go-menu {
  width: 200px;
  margin: 0;
  flex-grow: 0;
}
.order-btn:hover {
  background-color: #ff9556;
}
