<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>餐廳</title>
  </head>

  <body class="page-space">
    <header><%= require('../ejs/header.ejs')() %></header>

    <div class="main">
      <div class="options-container">
        <h2>個人中心</h2>
        <!-- <button class="type-btn">我的購物車</button> -->
        <button class="type-btn">我的訂單</button>
        <button class="type-btn logout-btn">登出</button>
      </div>

      <div class="data-container">
        <div class="cart-container">
          <div class="table-title">個人-暫存購物車內容</div>
          <table>
            <thead>
              <tr>
                <th>商品圖片</th>
                <th>商品名稱</th>
                <th>單價</th>
                <th>數量</th>
              </tr>
            </thead>
            <tbody>
              <tr class="empty-cart">
                <td colspan="6">
                  <div class="empty-text">
                    <p>購物車是空的！快去逛逛吧！</p>
                    <a href="./menu.html" class="go-menu">回去挑選</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="total_amount-box">
            <button class="order-btn">去結算</button>
          </div>
        </div>

        <div class="order-container">
          <div class="table-title">個人-訂單內容</div>
          <table>
            <thead>
              <tr>
                <th>訂單序號</th>
                <th>建立時間</th>
                <th>訂單狀態</th>
                <th>訂單金額</th>
              </tr>
            </thead>
            <tbody class="order-tbody">
              <tr class="empty-cart">
                <td colspan="4">
                  <div class="skeleton-screen">
                    <div class="skeleton-loader"></div>
                    <p>資料載入中</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <footer><%= require('../ejs/footer.ejs')() %></footer>
  </body>
</html>
