<div class="footer-container" id="footer">
  <div class="footer-siteinfo">
    <div class="siteinfo">
      <p>
        聯絡我們<br />
        門市號碼:09225818518<br />
        嘉義市XXX路XXX巷50號
      </p>
    </div>
    <div class="friend-link">
      <a href=""><i class="fa-brands fa-youtube yt"></i></a>
      <a href=""><i class="fa-brands fa-twitter tw"></i></a>
      <a href=""><i class="fa-brands fa-facebook fb"></i></a>
      <a href=""><i class="fa-brands fa-line line"></i></a>
      <a href=""><i class="fa-brands fa-instagram ig"></i></a>
    </div>
    <div class="qr-code">
      <img src="" alt="QR Code" />
    </div>
  </div>
  <div class="copyright">
    <p>版權所有 © 2023.XXXXXXXX</p>
  </div>
</div>
