<div class="header-content">
  <div class="logo">
    <a href="">
      <img src="" alt="" id="logo-img" />
    </a>
  </div>

  <div class="nav">
    <div class="item"><a href="./index.html">首頁</a></div>
    <div class="item"><a href="./menu.html">菜單</a></div>
    <div class="item"><a href="./aboutus.html">關於我們</a></div>
    <div class="item"><a href="./store.html">門市</a></div>
  </div>

  <div class="user-box">
    <button class="icon menu-btn"><i class="fa-solid fa-bars"></i></button>
    <button class="icon login-open">
      <i class="fa-solid fa-user"> </i>
      <span class="login-status-tooltip">尚未登入</span>
    </button>

    <a href="cart_1.html" class="icon nav-shopping">
      <i class="fa-solid fa-cart-shopping"></i>
    </a>
  </div>
</div>
