<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>餐廳</title>
  </head>

  <body class="page-menu">
    <header><%= require('../ejs/header.ejs')() %></header>

    <div class="main">
      <div class="options-container">
        <h2>商品種類</h2>
        <button class="type-btn" data-index="全部">全部</button>
        <button class="type-btn" data-index="前菜">前菜</button>
        <button class="type-btn" data-index="主菜">主菜</button>
        <button class="type-btn" data-index="甜點">甜點</button>
      </div>

      <div class="product-container">
        <div class="display-mode-box">
          <div class="detailed" title="切換詳細模式">
            <i class="fa-solid fa-list"></i>
          </div>
          <div class="simple" title="切換簡略模式">
            <i class="fa-solid fa-table-cells-large"></i>
          </div>
        </div>

        <ul class="card-container">
          <li class="card-detailed">
            <div class="skeleton-screen">
              <div class="skeleton-loader"></div>
              <p>資料載入中</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <footer><%= require('../ejs/footer.ejs')() %></footer>
  </body>
  <script type="module" src="index.js"></script>
</html>
